@import "4. abstracts/abstract";

/*----------------------------------------------------------------
# Global CSS
----------------------------------------------------------------*/
html{
    &.no-js{
        margin-top: 0 !important;
    }
}

body#site-body{
    color: $default-color;
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-overflow-scrolling: touch; /* lets it scroll lazy */
    text-rendering: optimizeLegibility;
    
    &.logged-in{
        margin-top: 32px;

        #masthead{
            margin-top: 32px;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    word-spacing: 0;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

img{
    display: block;
    max-width: 100%;
}

p{
    margin: 0 0 16px;
}

section{
    overflow: hidden;
    position: relative;
    padding: 50px 0;
}

a,
a:visited{
    text-decoration: none !important;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover,
a:visited:hover{
    text-decoration: none !important;
}

a:focus{
    outline: none;
    text-decoration: none;
}

.ptb-20{
    padding: 20px 0;
}

.mt--30{
    margin-top: -30px;
}

.mtb-50{
    margin: 50px 0;
}

.dis-ib{
    display: inline-block;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.dotted-bg{
    background-image: radial-gradient(#ededed 20%, transparent 0), radial-gradient(#ededed 20%, transparent 0);
    background-size: 3px 3px;
    background-position: 0 0, 15px 15px;
    border-bottom-left-radius: 50px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 30%;
    width: 91%;
}

.stretch-right{
    margin-right: calc(50% - 50vw) !important;
    // position: static;
}

.section-head{
    font-size: 112px;
    font-weight: bold;
    line-height: 0.8;
    text-transform: uppercase;
}

.main-title{
    color: #333333;
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.separator{
    height: 10px;
    
    &.curve-bg{
        &:before{
            background: #3aa138;
        }
    }
}