/*----------------------------------------------------------------
# Counter Style
----------------------------------------------------------------*/
.main-counter{
    margin-bottom: 50px;
    
    &.curve-bg{
        &:before{
            background: #f5f5f5;
        }
    }

    .count{
        color: #ff7d35;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        text-align: center;

        span{
            color: rgba(26, 26, 26, 0.75);
            font-size: 48px;
            font-weight: bold;
            line-height: 1;
            margin: 0;
        }

        p{
            margin: 0;
        }
    }
}