/*----------------------------------------------------------------
# Header Style
----------------------------------------------------------------*/

.site-header{
    position: relative;
    padding: 20px 0;
}

.site-branding{
    text-align: center;

    img{
        height: 80px;
        width: auto;
    }
}

.curve-bg{
    position: relative;

    &:before{
        border-radius: 50px 0 0 50px;
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 91%;
    }
}