/*----------------------------------------------------------------
# Header Style
----------------------------------------------------------------*/

.site-header{
    position: relative;
    padding: 20px 0;
}

.site-branding{
    text-align: center;

    img{
        height: 80px;
        width: auto;
    }
}

.curve-bg{
    position: relative;

    &:before{
        border-radius: 50px 0 0 50px;
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 91%;
    }
}

.page-header{
    .breadcrumb{
        background: transparent;
    }

    .breadcrumb-item {
        font-size: 13px;
        
        &+ .breadcrumb-item{
            padding-left: 0.2rem;

            &::before{
                color: rgba(26, 26, 26, 0.75);
                padding-right: 0.2rem;
            }
        }

        &.active,
        a{
            color: rgba(26, 26, 26, 0.75);
        }
    }

    .main-title{
        margin-left: 4rem;
    }

    img{
        height: 500px;
        position: absolute;
        right: 0;
        top: -160px;
        width: auto;
    }
}

.yellow-head{
    &:before{
        background: #ffbe34;
    }
}

.blue-head{
    &:before{
        background: #33aafe;
    }
}

.green-head{
    &:before{
        background: #3aa138;
    }
}

.blue-head,
.green-head{
    .main-title{
        color: #ffffff;
    }

    .breadcrumb-item{
        &+ .breadcrumb-item{
            &::before{
                color: #ffffff;
            }
        }

        &.active,
        a{
            color:#ffffff;
        }
    }
}

