/*----------------------------------------------------------------
# Process Section Style
----------------------------------------------------------------*/
.process{
    background: #3ca33a;

    .main-head{
        color: #4eac4c;
        line-height: 0.8;
        margin-top: -50px;
    }
}