/*----------------------------------------------------------------
# Process Section Style
----------------------------------------------------------------*/

.process{
    margin-top: 50px;

    &:before{
        background: #3ca33a;
    }
    
    
    .section-head{
        color: #4eac4c;
        padding: 0 50px;;
        width: 100%;
        z-index: 0;
    }

    .process-wrapper{
        display: flex;
        flex-wrap: wrap;
        padding: 0 50px;

        &.flip{
            flex-direction: column-reverse;

            img{
                margin: 37px 0 0;
            }
        }

        img{
            margin: 0 0 37px;
            width: 65%;
        }

        .process-content{
            color: #ffffff;
            letter-spacing: 0.5px;
        }

        h2{
            text-transform: uppercase;
        }
    }
}