/*----------------------------------------------------------------
# Split column Style
----------------------------------------------------------------*/

.question{
    &:before{
        background: #f5f5f5;
        z-index: 0;
    }

    &:after{
        background: #ffbe34;
        border-radius: 50px 0 0 50px;
        content: '';
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 40%;
    }

    .section-head{
        color: rgba(255, 255, 255, 0.5);
        position: relative;
        padding: 0 50px;
        z-index: 1;
    }

    .column-one{
        display: inline-block;
        padding: 30px 50px 0;
        width: 50%;
        

        h2{
            color: #333333;
            font-size: 52px;
            font-weight: 600;
            margin-bottom: 35px;
            text-transform: uppercase;
        }

        .default-form{
            background: #fff;
            border: 1px solid #ccc;

            input{
                border: none;
                padding: 0 15px;
            }
        }

        img{
            left: 70%;
            position: absolute;
            top: 36%;
            width: 560px;
            z-index: 1;
            @include translateX(-50%);
        }
    }
}