/*----------------------------------------------------------------
# Tabs Style
----------------------------------------------------------------*/

.tabs{
    .nav{
        border: none;
        justify-content: center;

        .nav-item{
            border: none;
            margin: 0 50px;

            .nav-link{
                border: none;
                color: #e1e1e1;
                position: relative;
                text-align: center;
                @include transition(all, 0.3s, ease-in-out);

                &.active,
                &:hover{
                    color: #50b04d;
                }

                &.active{
                    &:before{
                        background: url(../img/tooltip.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        bottom: -45px;
                        content: '';
                        height: 40px;
                        left: 50%;
                        position: absolute;
                        text-align: center;
                        width: 72%;
                        @include translateX(-50%);
                    }
                }

                i{
                    display: block;
                    margin-bottom: 8px;
                }
            }
        }
    }

    .tab-content{
        background-color: #f5f5f5;
        border-radius: 50px 0 0 50px;
        margin-top: 45px;
        
        .tab-pane{
            padding: 60px;
        }

        .tab-card{
            background: #ffffff;
            border-radius: 50px;
            display: inline-block;
            list-style: none;
            margin: 10px;
            padding: 20px;
            width: 45%;

            img{
                display: inline-block;
                height: auto;
                width: 150px;
            }

            .card-content{
                display: inline-block;
                margin-left: 30px;
                vertical-align: middle;
                width: 60%;

                .nutri-fact{
                    margin: 15px 0 0;

                    tr{
                        border-right: solid 1px #f5f5f5;
                        margin: 0;
                        padding: 0 20px;

                        &:first-child{
                            padding-left: 0;
                        }

                        &:last-child{
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
